html,
body {
   margin: 0;
   padding: 0;
   overflow-x: hidden;
   color: #fff;
}

html {
   max-width: 1500px;
   margin: 0 auto;
}

* {
   box-sizing: border-box;
}

body {
   background-color: #f2ebe3;
   margin: 0;
   padding: 0;
   font-size: 1rem;

}

.container {
   width: 70%;
   margin: auto;
   margin-top: 9rem;
   display: flex;
   flex-direction: row;
   font-size: 1rem;
}

.imgbg {
   width: 50%;
   background-image: url(./images/image-product-desktop.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   border-top-left-radius: 10px;
   border-bottom-left-radius: 10px;
   overflow: hidden;

}


.card {
   width: 50%;
   background-color: #ffffff;
   padding: 5rem;
   border-top-right-radius: 10px;
   border-bottom-right-radius: 10px;
}



p {
   font-size: 14px;
   color: #6c7289;
   width: 60%;
}

#price {
   color: #3c8067;
}

span {
   color: #6c7289;
   text-decoration: line-through;
   font-size: 1rem;
}

h1 {
   font-size: 700;

}

#cart {
   margin: 5rem;
   padding: 1rem;
   background-color: #3c8067;
   border-radius: 10px;
   text-align: center;
   color: #fff;
   width: 40%;
   margin-right: 15rem;
}

#head {
   color: black;
   width: 80%;
}

@media(max-width: 600px) {
   .container {
      flex-direction: column;
      width: 90%;
      margin-top: 2rem;
   }

   .imgbg {
      width: 100%;
      height: 20rem;
   }

   .card {
      width: 100%;
   }

}